{% extends "base.html" %} {% block links %}
<a href="/login">Login</a>
{% endblock %} {% block body %}
<div id="main">
  <div id="content">
    <div id="category">
      <h2><span>ACCOUNTING</span></h2>

      <div>
        <h3><a id="link-1" href="#"> </a></h3>
        <p id="data-embed-1"></p>
      </div>

      <div>
        <h3><a id="link-2" href="#"> </a></h3>
        <p id="data-embed-2"></p>
      </div>

      <div>
        <h3><a id="link-3" href="#"> </a></h3>
        <p id="data-embed-3"></p>
      </div>

      <div>
        <h3><a id="link-4" href="#"> </a></h3>
        <p id="data-embed-4"></p>
      </div>

      <div>
        <h3><a id="link-5" href="#"> </a></h3>
        <p id="data-embed-5"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>ENGINEERING</span></h2>

      <div>
        <h3><a id="link-6" href="#"> </a></h3>
        <p id="data-embed-6"></p>
      </div>

      <div>
        <h3><a id="link-7" href="#"> </a></h3>
        <p id="data-embed-7"></p>
      </div>

      <div>
        <h3><a id="link-8" href="#"> </a></h3>
        <p id="data-embed-8"></p>
      </div>

      <div>
        <h3><a id="link-9" href="#"> </a></h3>
        <p id="data-embed-9"></p>
      </div>

      <div>
        <h3><a id="link-10" href="#"> </a></h3>
        <p id="data-embed-10"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>HEALTHCARE</span></h2>

      <div>
        <h3><a id="link-11" href="#"> </a></h3>
        <p id="data-embed-11"></p>
      </div>

      <div>
        <h3><a id="link-12" href="#"> </a></h3>
        <p id="data-embed-12"></p>
      </div>

      <div>
        <h3><a id="link-13" href="#"> </a></h3>
        <p id="data-embed-13"></p>
      </div>

      <div>
        <h3><a id="link-14" href="#"> </a></h3>
        <p id="data-embed-14"></p>
      </div>

      <div>
        <h3><a id="link-15" href="#"> </a></h3>
        <p id="data-embed-15"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>HOSPITALITY</span></h2>

      <div>
        <h3><a id="link-16" href="#"> </a></h3>
        <p id="data-embed-16"></p>
      </div>

      <div>
        <h3><a id="link-17" href="#"> </a></h3>
        <p id="data-embed-17"></p>
      </div>

      <div>
        <h3><a id="link-18" href="#"> </a></h3>
        <p id="data-embed-18"></p>
      </div>

      <div>
        <h3><a id="link-19" href="#"> </a></h3>
        <p id="data-embed-19"></p>
      </div>

      <div>
        <h3><a id="link-20" href="#"> </a></h3>
        <p id="data-embed-20"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>INFORMATION TECHNOLOGY</span></h2>

      <div>
        <h3><a id="link-21" href="#"> </a></h3>
        <p id="data-embed-21"></p>
      </div>

      <div>
        <h3><a id="link-22" href="#"> </a></h3>
        <p id="data-embed-22"></p>
      </div>

      <div>
        <h3><a id="link-23" href="#"> </a></h3>
        <p id="data-embed-23"></p>
      </div>

      <div>
        <h3><a id="link-24" href="#"> </a></h3>
        <p id="data-embed-24"></p>
      </div>

      <div>
        <h3><a id="link-25" href="#"> </a></h3>
        <p id="data-embed-25"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>PR AND MARKETING</span></h2>

      <div>
        <h3><a id="link-26" href="#"> </a></h3>
        <p id="data-embed-26"></p>
      </div>

      <div>
        <h3><a id="link-27" href="#"> </a></h3>
        <p id="data-embed-27"></p>
      </div>

      <div>
        <h3><a id="link-28" href="#"> </a></h3>
        <p id="data-embed-28"></p>
      </div>

      <div>
        <h3><a id="link-29" href="#"> </a></h3>
        <p id="data-embed-29"></p>
      </div>

      <div>
        <h3><a id="link-30" href="#"> </a></h3>
        <p id="data-embed-30"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>SALES</span></h2>

      <div>
        <h3><a id="link-31" href="#"> </a></h3>
        <p id="data-embed-31"></p>
      </div>

      <div>
        <h3><a id="link-32" href="#"> </a></h3>
        <p id="data-embed-32"></p>
      </div>

      <div>
        <h3><a id="link-33" href="#"> </a></h3>
        <p id="data-embed-33"></p>
      </div>

      <div>
        <h3><a id="link-34" href="#"> </a></h3>
        <p id="data-embed-34"></p>
      </div>

      <div>
        <h3><a id="link-35" href="#"> </a></h3>
        <p id="data-embed-35"></p>
      </div>
    </div>

    <div id="category">
      <h2><span>TEACHING</span></h2>

      <div>
        <h3><a id="link-36" href="#"> </a></h3>
        <p id="data-embed-36"></p>
      </div>

      <div>
        <h3><a id="link-37" href="#"> </a></h3>
        <p id="data-embed-37"></p>
      </div>

      <div>
        <h3><a id="link-38" href="#"> </a></h3>
        <p id="data-embed-38"></p>
      </div>

      <div>
        <h3><a id="link-39" href="#"> </a></h3>
        <p id="data-embed-39"></p>
      </div>

      <div>
        <h3><a id="link-40" href="#"> </a></h3>
        <p id="data-embed-40"></p>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $.each(
      [
        "{{ url_for('article', folder='accounting', filename='commercial-fiannce-analyst') }}",
        "{{ url_for('article', folder='accounting', filename='credit-controller') }}",
        "{{ url_for('article', folder='accounting', filename='finance-assistant-italian') }}",
        "{{ url_for('article', folder='accounting', filename='mixed-tax-senior') }}",
        "{{ url_for('article', folder='accounting', filename='trainee-mortagage-advisor') }}",
        "{{ url_for('article', folder='engineering', filename='ci-design-engineer') }}",
        "{{ url_for('article', folder='engineering', filename='engineering-systems-analyst') }}",
        "{{ url_for('article', folder='engineering', filename='leads-engineers-stress') }}",
        "{{ url_for('article', folder='engineering', filename='senior-fatigue-damage-tolerance-engineer') }}",
        "{{ url_for('article', folder='engineering', filename='stress-engineer-glasglow') }}",
        "{{ url_for('article', folder='healthcare', filename='healthcare-assistant') }}",
        "{{ url_for('article', folder='healthcare', filename='nurse-job-bury') }}",
        "{{ url_for('article', folder='healthcare', filename='project-engineer-pharmaceutical') }}",
        "{{ url_for('article', folder='healthcare', filename='scrub-nurse-job') }}",
        "{{ url_for('article', folder='healthcare', filename='support-worker-job-chepstow') }}",
        "{{ url_for('article', folder='hospitality', filename='chef-de-partie-ipswich') }}",
        "{{ url_for('article', folder='hospitality', filename='excellent-tips') }}",
        "{{ url_for('article', folder='hospitality', filename='fine-dining-rosette') }}",
        "{{ url_for('article', folder='hospitality', filename='party-chef') }}",
        "{{ url_for('article', folder='hospitality', filename='share-of-tips') }}",
        "{{ url_for('article', folder='it', filename='account-executive') }}",
        "{{ url_for('article', folder='it', filename='c-developer') }}",
        "{{ url_for('article', folder='it', filename='future-leaders-developments') }}",
        "{{ url_for('article', folder='it', filename='it-support-technician') }}",
        "{{ url_for('article', folder='it', filename='senior-php-developer') }}",
        "{{ url_for('article', folder='pr', filename='accounts-payable-clerk') }}",
        "{{ url_for('article', folder='pr', filename='apprentice-sales-marketing') }}",
        "{{ url_for('article', folder='pr', filename='events-sales-executive') }}",
        "{{ url_for('article', folder='pr', filename='everychild-street-fundraisers') }}",
        "{{ url_for('article', folder='pr', filename='techincal-solutions-manager') }}",
        "{{ url_for('article', folder='sales', filename='field-sales-executive') }}",
        "{{ url_for('article', folder='sales', filename='hospital-contracts-manager') }}",
        "{{ url_for('article', folder='sales', filename='it-telesales') }}",
        "{{ url_for('article', folder='sales', filename='property-buyer-telesales') }}",
        "{{ url_for('article', folder='sales', filename='sales-engineer-midlands') }}",
        "{{ url_for('article', folder='teaching', filename='marketing-advisor') }}",
        "{{ url_for('article', folder='teaching', filename='primary-teachers') }}",
        "{{ url_for('article', folder='teaching', filename='sen-teachung-assistant') }}",
        "{{ url_for('article', folder='teaching', filename='teachers-qts-call') }}",
        "{{ url_for('article', folder='teaching', filename='teaching-invester') }}",
      ],
      function (i, a) {
        $.get(a, function (data) {
          var shortened = $(data)
            .find("#data-content")
            .text()
            .substring(0, 400);
          var title = $(data).find("#data-title").text();

          // Embed data into the homepage
          $("#data-embed-" + String(i + 1)).text(shortened + "...");
          $("#link-" + String(i + 1)).text(title);
        });
        $("#link-" + String(i + 1)).attr("href", a);
      }
    );
  });
</script>
{% endblock %}
