{% extends "base.html" %} {% block body %}
<div id="main">
  <h1 id="data-title">RGN Nurse Job Bury St Edmundsr</h1>
  <div class="data-article" id="data-content">
    <p>
      Company: Gregory Martin International <br />

      Description: RGN Nurse Job Bury St Edmunds UK Healthcare Professionals are
      currently recruiting care home nurses for a midsized care home based in
      Bury St Edmunds . The RGN Nurse Job Role There are full and part time
      positions available within this home, the successful candidates will
      provide exemplary planned care to residents undertaking such duties as:
      <br />
      • Assessing patient’s needs and providing personalised care in line with
      the company’s high standards. <br />
      • Report to the home manager and assist in the evaluation of policies and
      procedures. <br />
      • Assist with the management of the home when required <br />
      • Efficiently carry out nursing duties whilst participating in personal
      development and training. <br />

      The Company This client operates in excess of **** care centres nationally
      and employs over **** staff. This desirable position exists within a well
      presented and professional care home located in Suffolk. The RGN Nurse
      Candidate The successful candidates will be fully registered and qualified
      RGN’s, preferably with experience in caring for patients with dementia,
      applications are welcomed from newly qualified nurses. Additional
      Information This post is offering an excellent remuneration package to the
      right candidates. Post can vary in hours and enquiries are welcomed from
      interested parties regarding this. Candidates must hold a valid NMC pin
      number and be eligible to work in the UK<br />
    </p>
  </div>
</div>
{% endblock %}
