{% extends "base.html" %} {% block body %}
<div id="main">
  <h1 id="data-title">Project Engineer, Pharmaceutical</h1>
  <div class="data-article" id="data-content">
    <p>
      Company: MatchBox Recruiting Ltd <br />

      Description: PROJECT ENGINEER PHAMACEUTICAL, c**** Excellent Benefits,
      Oxfordshire ****/****/mg PROJECT ENGINEER : JOB ROLE: Responsible for
      execution of Continuous improvement and compliance projects. Responsible
      too for subprojects related to introduction of new products and processes
      in order to meet strategic business plans.The position is jointly
      responsible fo reporting of designated capital and expenses (actual Vs.
      Plan) associated with implementation of new process equipment or
      modifications to Existing process equipment. <br />

      PROJECT ENGINEER: KEY RESPONSIBILITIES: Manage project tasks &
      deliverables within agreed time, cost, quality Responsbile for process
      equipment validation, material validation, remediation activity Maintain
      effectiveness of Quality System in accordance with corporate requirements
      Effective liaison with Engineering functions, external suppliers and
      regulatory bodies PROJECT ENGINEER: SKILLS, EXPERIENCE, QUALIFICATION:
      Proven problem solving skills to quickly implement process improvements
      Understanding of technical drawings, dealing with suppliers and
      subcontractors Experience of Project Engineering/Project Management within
      regulated manufacturing Working knowledge of quality/regulatory systems
      BSc/HNC with related experience
      <br />

      After a brief career as a tutor for the Workers' Educational Association,
      he became an MP at the age of just 28 for his home seat of Bedwellty
      (later Islwyn). He gained a reputation as a left-wing firebrand, voting
      against his own Labour government's spending cuts proposals in 1975, and
      later rejecting a junior post in James Callaghan's administration. But he
      joined the shadow cabinet in 1980, and after Labour's heavy defeat in the
      1983 he was elected leader. <br />

      He took on the far-left Militant Tendency and began the long process of
      returning his party to the centre ground. He was not expected to win the
      1987 election, when Margaret Thatcher was still riding high, but was
      bitterly disappointed to lose the next one in 1992 to John Major, and
      stepped down. He remained an MP until 1995, when he resigned to become
      European commission for transport. Four years later he became
      vice-president of the European Commission, with responsibility for
      internal reform. As he assumes the title of Lord Kinnock, he has also
      become chairman of the British Council, which promotes the UK's reputation
      for arts, science and education. <br />
    </p>
  </div>
</div>
{% endblock %}
