{% extends "base.html" %} {% block body %}
<div id="main">
  <h1 id="data-title">Scrub Nurse Job Braintree</h1>
  <div class="data-article" id="data-content">
    <p>
      Company: Gregory Martin Hospital <br />

      Description: Scrub Nurse Job Braintree My client is a private hospital
      based in Braintree Essex and is a day case hospital. They work Monday to
      Saturday and your basic hourly week would be ****hrs. The hospital
      performs minor surgeries including Gynaecology, Urology, Ophthalmic,
      Orthopaedic, & General surgery. The salary range is between **** ****k,
      dependent on experience.<br />
    </p>
  </div>
</div>
{% endblock %}
