{% extends "base.html" %} {% block body %}
<div id="main">
  <h1 id="data-title">Credit Controller</h1>
  <div class="data-article" id="data-content">
    <p>
      Company: Gregory Martin International <br />

      Description: Engineering Systems Analyst Dorking Surrey Salary ****K Our
      client is located in Dorking, Surrey and are looking for Engineering
      Systems Analyst our client provides specialist software development
      Keywords Mathematical Modelling, Risk Analysis, System Modelling,
      Optimisation, MISER, PIONEEER Engineering Systems Analyst Dorking Surrey
      Salary ****K <br />
    </p>
  </div>
</div>
{% endblock %}
